<div class="offcanvas-header border-bottom" style="border-color: rgba(255, 255, 255, 0.1) !important;">
    <h5 class="offcanvas-title" style="color: var(--magenta-retro);">**Menú Synthwave**</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
</div>
<div class="offcanvas-body">
    <nav class="sidebar">
      <app-profile></app-profile>
        <ul class="nav flex-column">
          <app-opcion></app-opcion>
          <app-opcion></app-opcion>
            <!-- <li class="nav-item"><a class="nav-link active" href="#">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Eventos</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Tickets</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Artistas</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Ajustes</a></li> -->
        </ul>

        <div class="p-3 mt-4">
            <button class="btn btn-neon w-100">Cerrar Sesión</button>
        </div>
    </nav>
</div>
