.user-profile {
            text-align: center;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }



        .user-avatar {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 3px solid var(--naranja-atardecer); /* Borde en Naranja */
            object-fit: cover;
            margin-bottom: 10px;
        }
.user-profile h5 {
            color: var(--azul-electrico); /* Nombre de usuario en color primario */
        }
