




        /* Botón CTA (Llamada a la Acción) */
        .btn-neon {
            background-color: var(--magenta-retro);
            color: white; /* Texto blanco en el botón CTA */
            font-weight: bold;
            border: none;
            box-shadow: 0 0 5px rgba(245, 105, 182, 0.5); /* Sombra más suave */
            transition: all 0.3s;
        }
        .btn-neon:hover {
            background-color: var(--naranja-atardecer);
            box-shadow: 0 0 8px rgba(255, 154, 77, 0.7);
        }
