




<!-- User profile -->
<app-profile></app-profile>

<ul class="nav flex-column">
  <app-opcion [isActive]="true"
   [texto]="'Dashboard'"
   [icon]="'fas fa-chart-line'"
   [urlDestino]="'/home/dashboard'"></app-opcion>
  <app-opcion [isActive]="false" [texto]="'Galeria'" [icon]="'fa-solid fa-images'" [urlDestino]="'/home/galeria'"></app-opcion>
  <app-opcion [isActive]="false" [texto]="'Nueva Opcion'" [icon]="'fa-solid fa-bell'" [urlDestino]="'/home/galeria'"></app-opcion>
    <!-- <li class="nav-item"><a class="nav-link active" href="#"><i class="fas fa-chart-line"></i> Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-compact-disc"></i> Eventos</a></li>
    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-ticket-alt"></i> Tickets</a></li>
    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-users"></i> Artistas</a></li>
    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-cog"></i> Ajustes</a></li> -->
</ul>

<div class="p-3 mt-4">
    <button class="btn btn-neon w-100">Cerrar Sesión</button>
</div>


